/* [project]/app/src/styles/challenges.css [app-client] (css) */
.challenges-wrapper {
  background: #fff;
  width: 100%;
  padding: 20px 0;
  position: relative;
}

.challenges-container {
  max-width: 80%;
  height: 600px;
  margin: auto;
  position: relative;
}

.challenges-title {
  color: #3a3838;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.challenges-card {
  color: #706e6e;
  background: #fff;
  border-radius: 25px;
  width: 300px;
  padding: 25px;
  transition: all .3s;
  position: absolute;
  box-shadow: 0 10px 40px #15171b26;
}

.challenges-card:hover {
  transform: translateY(-8px);
}

.card-0 {
  top: 20px;
  left: 50px;
}

.card-1 {
  top: 20px;
  right: 50px;
}

.card-2 {
  top: 200px;
  right: 80px;
}

.card-3 {
  bottom: 80px;
  right: 120px;
}

.card-4 {
  top: 200px;
  left: 80px;
}

.card-5 {
  bottom: 80px;
  left: 120px;
}

/* [project]/app/src/styles/landing.css [app-client] (css) */
.landing-main {
  background: url("../media/MainImage.8bf1e6dc.png") center / cover no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.landing-main .app-selection {
  min-height: 10px;
  position: absolute;
  bottom: -100px;
  left: 0;
}

.landing-main .app-selection .app-container {
  max-width: 80%;
}

.landing-main .app-selection .content {
  min-height: 200px;
  box-shadow: var(--box-shadow);
  background: #fff;
  border-radius: 50px;
}

.landing-heading {
  color: var(--white);
  font-size: 45px;
  padding: 200px 0 0 142px !important;
}

.image {
  height: auto;
  padding: 15px 0 0 142px !important;
}

.overlay-content {
  position: absolute;
  top: 15%;
  left: 10%;
}

.overlay-content h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
}

.highlight {
  color: #000;
  background: #d8e792;
  padding: 5px 10px;
  display: inline-block;
}

.curve {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.logo-section {
  text-align: center;
  color: #6b2d1f;
  position: absolute;
  bottom: 30px;
  right: 100px;
}

.logo-section img {
  width: 90px;
  margin-bottom: 10px;
}

.logo-section h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.logo-section p {
  margin: 0;
  font-size: 14px;
}

/* [project]/app/src/styles/visionMission.css [app-client] (css) */
.vision-wrapper {
  background: #e2e1e1;
  width: 100%;
  padding: 20px 0;
}

.vision-container {
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  max-width: 80%;
  margin: auto;
  display: flex;
}

.vision-left {
  flex: 1;
  gap: 40px;
  display: flex;
}

.vision-card {
  text-align: center;
  color: #1a1919;
  border-radius: 12px;
  padding: 30px;
  font-size: 30px;
  transition: all .3s;
  box-shadow: 0 10px 40px #15171b26;
}

.vision-card:hover {
  transform: translateY(-6px);
}

.vision-card h3 {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 600;
}

.vision-card p {
  color: #1a1919;
  margin-top: 15px;
  font-size: 25px;
  line-height: 1.6;
}

.vision-right {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.be-image {
  object-fit: cover;
  border-radius: 50%;
  width: 350px;
  height: 450px;
}

@media (max-width: 992px) {
  .vision-container {
    flex-direction: column;
  }

  .vision-right {
    margin-top: 40px;
  }
}

/* [project]/app/src/styles/whyChooseUs.css [app-client] (css) */
.why-section {
  background-image: url("../media/seniorcare.8ecbc084.webp");
  background-position: center;
  background-size: cover;
  align-items: flex-end;
  width: 100%;
  min-height: 600px;
  padding: 40px;
  display: flex;
  position: relative;
}

.overlay-box {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: #783214bf;
  border-radius: 25px;
  max-width: 450px;
  padding: 30px;
}

.overlay-box h2 {
  color: #c4d600;
  margin-bottom: 20px;
  font-size: 36px;
}

.overlay-box ul {
  padding: 0;
  list-style: none;
}

.overlay-box li {
  color: #fff;
  margin-bottom: 18px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.6;
  position: relative;
}

.overlay-box li:before {
  content: "■";
  color: #c4d600;
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 0;
}

@media (max-width: 768px) {
  .why-section {
    align-items: center;
    padding: 20px;
  }

  .overlay-box {
    max-width: 100%;
  }
}

/* [project]/app/src/styles/journeyofhopecore.css [app-client] (css) */
.hope-wrapper {
  background: #fff;
  width: 100%;
  padding: 20px 0;
}

.hope-container {
  align-items: center;
  gap: 60px;
  max-width: 80%;
  margin: auto;
  display: flex;
}

.hope-left {
  flex: 1;
}

.hope-row {
  align-items: flex-start;
  margin-bottom: 10px;
  display: flex;
}

.hope-letter {
  color: #c4d600;
  margin-right: 20px;
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
}

.hope-text {
  margin-top: 18px;
}

.hope-text h3 {
  color: #333;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.hope-text p {
  color: #555;
  margin-top: 5px;
  font-size: 16px;
}

.hope-right {
  flex: 1;
  justify-content: center;
  display: flex;
}

.hope-right img {
  max-width: 100%;
  height: 500px;
}

@media (max-width: 992px) {
  .hope-container {
    flex-direction: column;
  }

  .hope-letter {
    font-size: 60px;
  }
}

/* [project]/app/src/styles/journeyofhope.css [app-client] (css) */
.journeyofhope-wrapper {
  background: #fff;
  width: 100%;
  padding: 20px 0;
}

.journeyofhope-container {
  max-width: 90%;
  margin: auto;
}

.journeyofhope-heading {
  text-align: center;
  margin-bottom: 40px;
}

.journeyofhope-heading h1 {
  color: #000;
  font-size: 48px;
  font-weight: 700;
}

.journeyofhope-card p {
  font-size: 35px;
  font-weight: 100px;
  color: #000;
}

.journeyofhope-cards {
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  display: grid;
}

.journeyofhope-card {
  text-align: center;
  color: #000;
  border-radius: 12px;
  flex: 1;
  padding: 20px;
  font-size: 30px;
  transition: all .3s;
  box-shadow: 0 10px 40px #15171b26;
}

.journeyofhope-card p {
  font-size: 25px;
}

@media (max-width: 992px) {
  .journeyofhope-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .journeyofhope-cards {
    grid-template-columns: 1fr;
  }
}

/* [project]/app/src/styles/contact.css [app-client] (css) */
.contact-core {
  border-top: 2px solid #dfdfdf;
  padding: 20px 0;
  display: flex;
}

h1 {
  color: #6b2d1f;
}

.contact-right {
  flex: 2;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  display: grid;
}

.contact-item {
  text-align: center;
  color: #6b2d1f;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  transition: transform .2s;
  display: flex;
  transform: scale(.9);
}

.icon-circle {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  display: flex;
}

.icon-circle img {
  object-fit: contain;
  filter: brightness(0) invert();
  width: 40px;
  height: 40px;
}

.contact-item h2 {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 200px;
  margin: 10px 0 5px;
}

.contact-item p {
  color: #555;
  margin: 3px 0;
  font-size: 18px;
}

.orange {
  background-color: #d86a2c;
}

.yellow {
  background-color: #c9b12f;
}

.green {
  background-color: #2e6b3f;
}

.dark {
  background-color: #111;
}

.contact-item:hover {
  transform: scale(1);
}

/* [project]/app/src/styles/department.css [app-client] (css) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.slide {
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  position: absolute;
  inset: 0;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide-image {
  object-fit: cover;
  object-position: center 25%;
  filter: brightness(85%);
  width: 100%;
  height: 100%;
  transition: transform 8s;
  position: absolute;
  inset: 0;
  transform: scale(1.02);
}

.slide.active .slide-image {
  transform: scale(1.05);
}

.overlay {
  color: #fff;
  text-align: center;
  background: linear-gradient(#00000080, #0000004d);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
  position: absolute;
  inset: 0;
}

.main-title {
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: bold;
}

.points {
  max-width: 800px;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.points li {
  margin: 10px 0;
  padding-left: 20px;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 30px;
  position: relative;
}

.points li:before {
  content: "•";
  color: #fff;
  position: absolute;
  left: 0;
}

.overlay p {
  max-width: 700px;
  font-size: 1.2rem;
}

.prev, .next {
  color: #fff;
  cursor: pointer;
  z-index: 2;
  background: #0006;
  border: none;
  padding: 12px 18px;
  font-size: 2rem;
  transition: background .3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev:hover, .next:hover {
  background: #000000b3;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

/*# sourceMappingURL=app_src_styles_71cc3d0a._.css.map*/