.footer-sections{
    border-radius: 10px;
    padding: 10px !important;
    /* border: solid 1px var(--borders); */
    /* box-shadow: var(--box-shadow); */

}
.footer-group{
    display: flex;
padding: 20px !important;
}
.footer-heading1{
    padding-bottom: 10px !important;
}
.footer-span{
    color: var(--subheading);
    padding-bottom: 5px !important;

}