
.journeyofhope-wrapper {
  width: 100%;
  padding: 20px 0;
  background: #fff;
}



.journeyofhope-container {
  max-width: 90%;
  margin: auto;
}

/* Heading */
.journeyofhope-heading {
  text-align: center;
  margin-bottom: 40px;
}

.journeyofhope-heading h1 {
  font-size: 48px;
  font-weight: 700;
  color: #000;
}
.journeyofhope-card p {
  font-size: 35px;
  font-weight: 100px;
  color: #000;
}

/* Cards row */
.journeyofhope-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  
}



.journeyofhope-card {
  flex: 1;  /* equal width */
    padding: 20px;
  border-radius: 12px;
  text-align: center;
  color: #000;
  transition: 0.3s ease;
  font-size: 30px;
  box-shadow: 0 10px 40px rgba(21, 23, 27, 0.15);
}

.journeyofhope-card p{
  font-size: 25px;
}
/* RESPONSIVE */
/* Tablet */
@media (max-width: 992px) {
  .journeyofhope-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .journeyofhope-cards {
    grid-template-columns: 1fr;
  }
}


