/* ===============================
   HERO SECTION
================================ */
.landing-main {
  height: 100vh;
  width: 100%;
  background: url("../assets/MainImage.png") no-repeat center center;
  background-size: cover;
  position: relative;
}

/* Text overlay */
.overlay-content {
  position: absolute;
  top: 15%;
  left: 10%;
}

.overlay-content h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
  color: #6b2d1f;
}

.highlight {
  background: #d8e792;
  color: #000;
  padding: 5px 10px;
  display: inline-block;
}

/* Curve */
.curve {
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* ===============================
   RESPONSIVE
================================ */
@media (max-width: 768px) {
  .overlay-content h1 {
    font-size: 34px;
  }
}

@media (max-width: 480px) {
  .overlay-content h1 {
    font-size: 28px;
  }
}
