.journey-core {
    display: flex;
    padding: 80px 0;
}

/* LEFT SIDE */
.journey-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1{
    color: #6b2d1f;
}

/* RIGHT SIDE */
.journey-right {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 rows */
    gap: 30px;
}

/* EACH BOX */
.core-item {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    flex-direction: column;
    color: #6b2d1f;
      transition: transform 0.2s ease;
  transform: scale(0.9);

}


.core-item:hover {
  transform: scale(1);
}
